<h2>Por Capital</h2>
<hr />

<div class="row">
  <div class="col">
    <shared-search-box
      placeholder="Introduce el país..."
      [initialValue]="initialValue"
      (messageDebounce)="searchByCapitalPage($event)"
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />

    <ng-container *ngIf="isLoading">
      <shared-loading-spinner></shared-loading-spinner>
    </ng-container>

    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
