<h2>Países</h2>
<hr>
<ul class="list-group">

  <!-- <li routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="list-group-item">
    Home Page
  </li>

  <li routerLink="about" routerLinkActive="active" class="list-group-item">
    About Page
  </li>

  <li routerLinkActive="active" routerLink="contact" class="list-group-item">
    Contact Page
  </li> -->

  <li routerLinkActive="active"
   routerLink="countries/by-capital"
   class="list-group-item">
   Por Capital
  </li>

  <li class="list-group-item"
    routerLink="countries/by-country"
    routerLinkActive="active">
    Por País
  </li>

  <li class="list-group-item"
   routerLink="countries/by-region"
   routerLinkActive="active">
    Por Región
  </li>


</ul>
